In [13]:
import pandas as pd

df_significant_words = pd.read_csv('significant_words.csv')
df_significant_words

                Word  Frequency
0                OTR       1588
1                DOT       1309
2              hours        856
3              Swift        655
4         California        528
...              ...        ...
76444          Tesia          1
76445       (Freight          1
76446  Championship)          1
76447    Overbearing          1
76448   helplessness          1

[76449 rows x 2 columns]

In [14]:
# Define the "locations" variable
locations = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon']

# Handle NaN values in the dataframe
df_significant_words.fillna('', inplace=True)

# Apply the filtering operation
filtered_df = df_significant_words.loc[df_significant_words['Word'].str.contains('|'.join(locations))]

In [15]:
filtered_df

                 Word  Frequency
4          California        528
12              Texas        477
100           Florida        287
176           Wyoming        228
257              Ohio        195
...               ...        ...
76031  Massachusetts)          1
76046      (Delaware)          1
76227      (Kentucky)          1
76300      Louisiana!          1
76384       "Arkansas          1

[518 rows x 2 columns]

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/6.3 MB 640.0 kB/s eta 0:00:10
   - -------------------------------------- 0.2/6.3 MB 2.6 MB/s eta 0:00:03
   -- ------------------------------------- 0.4/6.3 MB 3.2 MB/s eta 0:00:02
   ---- ----------------------------------- 0.7/6.3 MB 4.0 MB/s eta 0:00:02
   ----- ---------------------------------- 0.9/6.3 MB 4.5 MB/s eta 0:00:02
   ------ --------------------------------- 1.1/6.3 MB 3.9 MB/s eta 0:00:02
   --------- ------------------------------ 1.5/6.3 MB 4.7 MB/s eta 0:00:02
   ----------- ---------------------------- 1.8/6.3 MB 5.0 MB/s eta 0:00:01
   ------------- -------------------------- 2.1/6.3 MB 5.3 MB/s eta 0:00:01
   ---------------------- ----------------- 3.6/6.3 MB 7.9 MB/s eta 0:00:01
   ---------------------------------- ----- 5.5/6.3 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 11.9 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1
Note: you may need to restart the kernel to use updated packages.
['US-AS', 'US-GA', 'US-KY', 'US-MP', 'US-NM', 'US-RI', 'US-VI', 'US-AZ', 'US-GU', 'US-LA', 'US-MS', 'US-NV', 'US-SC', 'US-VT', 'US-CA', 'US-HI', 'US-MA', 'US-MT', 'US-NY', 'US-SD', 'US-WA', 'US-CO', 'US-IA', 'US-MD', 'US-NC', 'US-OH', 'US-TN', 'US-WI', 'US-CT', 'US-ID', 'US-ME', 'US-ND', 'US-OK', 'US-TX', 'US-WV', 'US-AK', 'US-DC', 'US-IL', 'US-MI', 'US-NE', 'US-OR', 'US-UM', 'US-WY', 'US-AL', 'US-DE', 'US-IN', 'US-MN', 'US-NH', 'US-PA', 'US-UT', 'US-AR', 'US-FL', 'US-KS', 'US-MO', 'US-NJ', 'US-PR', 'US-VA', 'CA-NU', 'CA-AB', 'CA-NL', 'CA-MB', 'CA-NT', 'CA-ON', 'CA-QC', 'CA-YT', 'CA-BC', 'CA-NS', 'CA-NB', 'CA-PE', 'CA-SK']